@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

@variants hover,
focus {
  .transition {
    transition: all 0.1s ease-in-out;
  }

  .transition-slow {
    transition: all 0.3s ease-in-out;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.tab-enter-active,
.tab-leave-active {
  position: absolute;
  transition: opacity 0.2s;
}

.tab-enter,
.tab-leave-active {
  opacity: 0;
}

.game-state-enter-active,
.game-state-leave-active {
  position: absolute;
  transition: all 0.5s;
}

.game-state-enter,
.game-state-leave-active {
  opacity: 0;
}

.game-state-enter {
  transform: translateX(30px);
}

.game-state-leave-active {
  transform: translateX(-30px);
}

.game-settings-enter-active,
.game-settings-enter-active>div,
.game-settings-leave-active,
.game-settings-leave-active>div {
  transition: all 0.2s;
}

.game-settings-enter,
.game-settings-leave-active {
  opacity: 0;
}

.game-settings-enter>div {
  transform: translateX(30px);
}

.game-settings-leave-active>div {
  transform: translateX(30px);
}
